// @font-face

@font-face {
  font-family: "Comic-Neue";
  src: url("../assets/fonts/Comic_Neue/ComicNeue-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Comic-Neue";
  src: url("../assets/fonts/Comic_Neue/ComicNeue-Light.ttf") format("ttf");
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: "Comic-Neue";
  src: url("../assets/fonts/Comic_Neue/ComicNeue-Bold.ttf") format("ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Batman-Forever";
  src: url("../assets/fonts/Batman_Forever/batmfa__.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}