// @font-face

@font-face {
  font-family: "Comic-Neue";
  src: url("/assets/fonts/Comic_Neue/ComicNeue-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Comic-Neue";
  src: url("/assets/fonts/Comic_Neue/ComicNeue-Light.woff2") format("woff2");
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: "Comic-Neue";
  src: url("/assets/fonts/Comic_Neue/ComicNeue-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Batman-Outline";
  src: url("/assets/fonts/Batman_Forever/batmfo__.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Batman-Alternate";
  src: url("/assets/fonts/Batman_Forever/batmfa__.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
